<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>{{ _('Mozilla In-app Payment Tester') }}</title>

  {% block site_css %}
    {{ css('app_payments') }}
  {% endblock %}

</head>
<body>
  <a id="fork-me" href="https://github.com/kumar303/inapp-pay-test">
    <img src="{{ MEDIA_URL }}img/forkme_right_darkblue_121621.png" alt="{{ _('Fork me on GitHub') }}" />
  </a>
  <div id="container">
    <section id="generator">
      <h2>{{ _('Generate an in-app payment') }}
        <a href="https://developer.mozilla.org/en/Apps/In-app_payments">({{ _('docs') }})</a></h2>
      <a id="start-over" href="#">{{ _('Start over') }}</a>
      <form>
        {{ csrf() }}
        <textarea name="pay_request" id="pay-request">{{ pay_request }}</textarea>
        <p>{{ '<script src="' }}{{ settings.INAPP_PAYMENTS_JS }}{{ '">' }}</p>
        <div id="call-buy">
          <button>{{ _('call mozmarket.buy()') }}</button>
        </div>
      </form>
    </section>
    <section id="log"><pre></pre></section>
  </div>

  {% block site_js %}
    {{ js('app_payments') }}
  {% endblock %}
  <script type="text/javascript" src="{{ settings.INAPP_PAYMENTS_JS }}"></script>

</body>
</html>
